In [23]:
#Team: Sneha Susan Varghese & Chinmay Bake 

import requests
import urllib.request
from bs4 import BeautifulSoup 
import pandas as pd
#importing required set of libraries for scraping datd from the web

In [24]:
url3 = "https://en.wikipedia.org/wiki/List_of_rugby_union_playing_countries" #define the url/link from which data is to be scraped 
r1 = requests.get(url3) #getting a response from the page

In [21]:
list1=list()  #declare an empty list 
soup2 = BeautifulSoup(r1.content, "html.parser") #source all the HTML content of the page
tbl = soup2.find_all('table')[0]   #print all the content in the HTML with 'table' notation in it with its index specified
rw = tbl.find_all('tr') #in the above declared variables, we could lookout for 'tr' notation or essentially data inside the table rows


for tr in rw:
    td = tr.find_all('td')      
    row = [i.text for i in td]
    list1.append(row)    
    
#now we extract data from each cell in the row; by searching 'td' notation in the previously declared 'rw' variable. 
#every text in the 'td' variable with table data is sequeantially appended in the empty list which we have declared previously

In [30]:
df = pd.DataFrame(list1,columns=['Country','No. of Clubs','Registered Players','Referees','Under 13 Boys','Under 13 Girls','Teen Males','Teen Females','Senior Males','Senior Females','Total Males','Total Females','Total Players'])
#define a pandas dataframe constituting of the list which has been created. Declare the column headers in it. 
df.set_index('Country',inplace=True)
#set index as the 'Country' column in the dataframe
df.to_csv('Sneha_Chinmay_Assignment3(3).csv')
#Import the dataframe to a csv file

#NOTE: After opening the CSV file, Wrap Text button is default enabled for data cells starting from second column. So the data won't be displayed upfront. 
       #Kindly click on any of the datacells, select all the data rows & columns and disable the wrap text option. Thank you!.

In [29]:
df

,No. of Clubs,Registered Players,Referees,Under 13 Boys,Under 13 Girls,Teen Males,Teen Females,Senior Males,Senior Females,Total Males,Total Females,Total Players
Country,,,,,,,,,,,,
NaN,None,None,None,None,None,None,None,None,None,None,None,None
American Samoa[2]\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n
Andorra[3]\n,2\n,213\n,1\n,70\n,5\n,65\n,4\n,54\n,15\n,189\n,24\n,213\n
Argentina[4][5]\n,420\n,102790\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,102543\n,247\n,102790\n
Armenia[6]\n,3\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n,0\n
...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela[115]\n,34\n,2415\n,30\n,60\n,20\n,380\n,25\n,1650\n,280\n,2090\n,325\n,2415\n
Wales[116][117]\n,250\n,50557\n,2053\n,12318\n,100\n,14500\n,492\n,22408\n,739\n,49226\n,1331\n,50557\n
Zambia[118]\n,20\n,10200\n,40\n,4100\n,400\n,3600\n,300\n,1600\n,200\n,9300\n,900\n,10200\n
Zimbabwe[119]\n,17\n,22163\n,44\n,7900\n,0\n,12975\n,425\n,768\n,95\n,21643\n,520\n,22163\n
Totals[nb 2]\n,"18,633\n","4,504,188\n","32,972\n","1,552,495\n","476,498\n","1,337,930\n","181,589\n","772,443\n","80,443\n","3,765,411\n","738,034\n","4,503,445\n"